name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
  
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      env:
        docker_user: ${{secrets.thomasmcochrane}}
        DOCKER_PASSWORD: ${{secrets.ujf0bzw.axk5DHA-wum}}
      run:
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: build the docker image
      run: docker build . --file Dockerfile --tag Tom/robot-shop test:$(date +%s)

    - name: Docker Push
      run: docker push ${{secrets.thomasmcochrane}}/test123
